$rem_values: 0 0.25 0.5 0.75 1 1.25 1.5 1.75 2 2.25 2.5 2.75 3 3.25 3.5 3.75 4 4.5 5 5.5 6 6.5 7 7.5 8 9 10 11 12;
$rem_count: 0;

:root{
    --radius: .5rem;

    --space: 1;
    
    @each $value in $rem_values{
        --value-#{$rem_count}: #{$value}em;
        $rem_count: calc($rem_count + 1);
    }
}
